.nested-fields
  .field
    = Spina::ComponentParam.human_attribute_name :name
    %br
    = f.text_field :name
  .field
    = Spina::ComponentParam.human_attribute_name :use_for
    %br
    = f.text_field :use_for
  = link_to_remove_association "remove task", f