<p id="notice"><%= notice %></p>

<h1>Listing Component Templates</h1>

<table class="table-component">
  <thead>
    <tr>
      <th class="col-20">Name</th>
      <th class="col-50">Use for</th>
      <th class="col-30"colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td class="col-20"><%= component.name %></td>
        <td class="col-50"><%= component.use_for %></td>
        <td><%= link_to 'Show', admin_component_path(component) %></td>
        <td><%= link_to 'Edit', edit_admin_component_path(component) %></td>
        <td><%= link_to 'Destroy', admin_component_path(component), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_admin_component_path %>
