- if @page_component.errors.present?
  %aside#notifications
  #error_explanation.notification.notification-error{"data-icon" => "m"}
    %p There are some missing fields...
    %ul
      - @page_component.errors.full_messages.each do |message|
        %li 
          = message

= form_for [spina, :admin, @account, @page, @page_component] do |f|
  .table-container
    %table.table.table-form
      = f.fields_for :page_component_params do |ff|
        %tr
          %td
            = Spina::ComponentParam.human_attribute_name :param_value 
            %small
            = ff.object.name
            = ff.object.use_for
          %td
            = ff.text_field :param_value
      - if @page_component.page_component_params.blank?
        %tr
          %td
            =t('spina.not_need_value', default: 'not need value')

       


  %button.button.button-primary{type: 'submit'}
    = icon('check')
    =t('spina.page_components.save', default: 'save component')

  = link_to t('spina.cancel'), spina.edit_admin_account_page_path(@account, @page), class: 'button button-link'