<div class="param-container">
  <%= form_for [:admin, component_param] do |f| %>
    <%= f.hidden_field :component_id %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :use_for %>
    <%= f.text_field :use_for %>
    <%= f.submit %>
    <%= link_to "Delete", admin_component_param_path(component_param), method: :delete %>
  <% end %>
</div>
