.item
  .overlay
    = radio_button_tag :photo_id, photo.id
    = check_box_tag 'photo_ids[]', photo.id
    = link_to admin_account_photo_path(@account, photo), class: 'icon-only', data: {aviary: true} do
      = icon('brush')
    = link_to spina.admin_account_photo_path(@account, photo), method: :delete, class: 'icon-only', data: {confirm: t('spina.photos.delete_confirmation')} do
      = icon('trash')
  = image_tag photo.file.thumb.url, id: "photo_#{photo.id}", data: {posturl: spina.enhance_admin_account_photo_path(@account, photo), image: photo.file.url}
