%tr
  %td= link_to account.name, admin_account_pages_path(account), class: 'button button-succcesss button-small' 
  %td= image_tag account.logo_url
  %td.nowrap
    %small= l account.created_at, format: '%d %B %Y %H:%M'
  %td.nowrap
    = link_to t('spina.edit'), admin_account_pages_path(account), class: 'button button-succcesss button-small'
    = link_to t('spina.delete'), admin_account_path(account), method: :delete, class: 'button button-danger button-small', data: {confirm: t('spina.delete_confirmation', subject: account.name)}