<div class="param-container">
  <%= form_for [:admin, param_template] do |f| %>
    <%= f.hidden_field :component_template_id %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :use_for %>
    <%= f.text_field :use_for %>
    <%= f.submit %>
    <%= link_to "Delete", admin_param_template_path(param_template), method: :delete %>
  <% end %>
</div>